:root { 
--deep_orange_A100:#fca680; 
--blue_gray_50_99:#ebf8f399; 
--blue_gray_50:#ebf8f3; 
--teal_500_1e:#0fa9711e; 
--light_blue_A400:#0bbcf4; 
--red_50_99:#fcf3ee99; 
--gray_50:#fff8f5; 
--red_50:#fff3ee; 
--black_900_1e:#0000001e; 
--deep_orange_A100_00:#fca68000; 
--teal_500_19:#0fad7419; 
--white_A700_cc:#ffffffcc; 
--deep_orange_A100_44:#fca68044; 
--teal_600:#01a368; 
--deep_orange_A100_01:#fba57f; 
--teal_500:#0fad74; 
--black_900_66:#00000066; 
--black_900:#000000; 
--teal_50_01:#e2f5ee; 
--white_A700_4c:#ffffff4c; 
--gray_600:#757575; 
--black_900_4c:#0000004c; 
--gray_700:#616161; 
--blue_gray_100:#d9d9d9; 
--amber_600:#ffb700; 
--gray_900:#121212; 
--gray_900_01:#212121; 
--teal_500_00:#0fad7400; 
--black_900_0f:#0000000f; 
--red_50_01:#fdf1ec; 
--teal_50:#e2f4ed; 
--white_A700_0f:#ffffff0f; 
--white_A700_84:#ffffff84; 
--gray_100:#f2f8f8; 
--white_A700_21:#ffffff21; 
--gray_100_01:#f7f2ed; 
--black_900_14:#00000014; 
--white_A700:#ffffff; 
}